<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Seguimiento de Pedido</title>
</head>
<body>
    <div style="border: 2px solid green; padding: 20px; max-width: 600px; margin: auto;">
        <h1 style="color: green; text-align: center;">Seguimiento del Pedido</h1>

        <p style="text-align: center;">
            Guarda este código para consultar tu pedido:</p>

        <h2 style="background-color: #eee; text-align: center; padding: 10px;">
            TOKEN: {{ pedido.token_seguimiento }}</h2><hr>


        <p><strong>Cliente:</strong> {{ pedido.cliente_nombre }}</p>
        {% if pedido.producto_referencia %}
            <p><strong>Producto solicitado:</strong> {{ pedido.producto_referencia.nombre }}</p>
        {% endif %}
        <p><strong>Descripción del pedido:</strong> {{ pedido.descripcion }}</p>
        {% if pedido.fecha_solicitada %}
            <p><strong>Fecha solicitada:</strong> {{ pedido.fecha_solicitada }}</p>
        {% endif %}<hr>


        <p><strong>Estado actual del pedido:</strong> {{ pedido.get_estado_pedido_display }}</p>
        <p><strong>Estado de pago:</strong> {{ pedido.get_estado_pago_display }}</p><hr>


        {% if pedido.imagen_referencia %}
            <p><strong>Imagen de referencia:</strong></p>
            <img src="{{ pedido.imagen_referencia.url }}" alt="Imagen de referencia"
                style="max-width: 100%; border: 1px solid #ccc;">
        {% endif %}
    </div>
    <br>
    <a href="{% url 'catalogo' %}">Volver al inicio</a>
</body>
</html>